@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes textAnimation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes imageAnimation {
  from {
    transform: translate3d(0px, 300px, 0px) rotateZ(25deg);
  }
  to {
    transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-text-animation {
  animation: textAnimation 500ms linear forwards;
}

.animate-image-animation {
  animation: imageAnimation 600ms linear forwards;
}

.animate-scaleIn {
  animation: scaleIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.Card-1 {
  animation: scaleIn 1000ms linear !important;
}

.Card-2 {
  animation: scaleIn 1000ms linear !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  background-repeat: no-repeat;
  color: var(--foreground);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Google Sans Display", sans-serif;
}
